@{
    ViewData["Title"] = "Home Page";
}
@using PartialViewAndTagHelpers.Models;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <br />
    <br />
    <form asp-action="microsoft">
        <submit-button class="mr2">View information on ASP.NET Core MVC</submit-button>
    </form>
</div>
